  .navigation ul {
    display: flex;
    color: #fd7d4c;
  }
  .navigation ul li{
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
  }
  .navigation ul li:hover {
    color: rgba(0, 0, 0, 0.733);
  }

  a{
    text-decoration: none;
    color: #fd7d4c;
  }

  a:hover {
    color: rgba(0, 0, 0, 0.733);
  }
  
  table {
    width: 100%;
    border: 1px solid black;
    margin-top: 30px;
  }

  table tr, table td, table th{
  border: 1px solid black;
  text-align: left;
  padding: 5px 10px;
  }

  table th {
  font-weight: bold;
  color: green;
  }