.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #fff7f4;
  border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}
  
  .navigation ul {
    display: flex;
    color: #fd7d4c;
  }
  .navigation ul li{
    list-style: none;
    margin-right: 20px;
    cursor: pointer;

  }
  .navigation ul li:hover {
    color: rgba(0, 0, 0, 0.733);
  }

  a{
    text-decoration: none;
    color: #fd7d4c;
  }

  a:hover {
    color: rgba(0, 0, 0, 0.733);
  }
  
  table {
    width: 100%;
    border: 1px solid black;
    margin-top: 30px;
  }

  table tr, table td, table th{
  border: 1px solid black;
  text-align: left;
  padding: 5px 10px;
  }

  table th {
  font-weight: bold;
  color: green;
  }

  #login-button p{
    margin: 0 auto;
  }

  #login-form{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;

  }

  .input_label{
    
    text-align: center;
  }

  form > *{
    text-align: center;
    outline: none;
    border: 1px solid #fd7d4c;
    width: 48%;
    padding: 10px 20px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .login-warning{
    color: orange;
    margin-top: 50 px;
    text-align: center;

  }

  .access_denied{
    color: red;
    font-size: 40px;
    text-align: center;
  }

  .access_granted{
    color: green;
    font-size: 40px;
    text-align: center;
  }

  .welcome_heading{
    margin-top: 50px;
    color: orange;
    font-size: 30px;
    text-align: center;
  }

  .welcome_paragraph{
    margin-top: 20px;
    color: orange;
    font-size: 20px;
    text-align: center;
  }

  .logout_alert{
    color: blue;
    font-size: 35px;
    text-align: center;
  }

  .button_delete{
    background-color: red;
    color: yellow;
  }

  .button_update{
    background-color: blue;
    color: white;
  }

  .operations{
    display: flex;
    justify-content: space-between;
  }