{% extends "navigation.html" %} {% block title %}APPEARANCES{% endblock%} {%
block content %} {% if not update_form_appearance %}
<table class="appearance">
  <tr>
    <th>
      <p>Appearance ID</p>
      <form action="{{ url_for('sorted_tab') }}">
        <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
        />
        <label for="asc">Asc</label>
        <input type="radio" id="asc" name="asc_desc" value="DESC" />
        <label for="asc">Desc</label>
        <input
          type="text"
          value="APPEARANCES"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="appearance_id"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Game ID</p>
      <form action="{{ url_for('sorted_tab') }}">
        <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
        />
        <label for="asc">Asc</label>
        <input type="radio" id="asc" name="asc_desc" value="DESC" />
        <label for="asc">Desc</label>
        <input
          type="text"
          value="APPEARANCES"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="game_id"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Player ID</p>
      <form action="{{ url_for('sorted_tab') }}">
        <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
        />
        <label for="asc">Asc</label>
        <input type="radio" id="asc" name="asc_desc" value="DESC" />
        <label for="asc">Desc</label>
        <input
          type="text"
          value="APPEARANCES"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="player_id"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Player Club ID</p>
      <form action="{{ url_for('sorted_tab') }}">
        <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
        />
        <label for="asc">Asc</label>
        <input type="radio" id="asc" name="asc_desc" value="DESC" />
        <label for="asc">Desc</label>
        <input
          type="text"
          value="APPEARANCES"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="player_club_id"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Date</p>
      <form action="{{ url_for('sorted_tab') }}">
        <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
        />
        <label for="asc">Asc</label>
        <input type="radio" id="asc" name="asc_desc" value="DESC" />
        <label for="asc">Desc</label>
        <input
          type="text"
          value="APPEARANCES"
          name="sort_table"
          style="display: none"
        />
        <input type="text" value="date" name="sort_key" style="display: none" />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Player Pretty Name</p>
      <form action="{{ url_for('sorted_tab') }}">
        <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
        />
        <label for="asc">Asc</label>
        <input type="radio" id="asc" name="asc_desc" value="DESC" />
        <label for="asc">Desc</label>
        <input
          type="text"
          value="APPEARANCES"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="player_pretty_name"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Competition ID</p>
      <form action="{{ url_for('sorted_tab') }}">
        <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
        />
        <label for="asc">Asc</label>
        <input type="radio" id="asc" name="asc_desc" value="DESC" />
        <label for="asc">Desc</label>
        <input
          type="text"
          value="APPEARANCES"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="competition_id"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Yellow Cards</p>
      <form action="{{ url_for('sorted_tab') }}">
        <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
        />
        <label for="asc">Asc</label>
        <input type="radio" id="asc" name="asc_desc" value="DESC" />
        <label for="asc">Desc</label>
        <input
          type="text"
          value="APPEARANCES"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="yellow_cards"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Red Cards</p>
      <form action="{{ url_for('sorted_tab') }}">
        <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
        />
        <label for="asc">Asc</label>
        <input type="radio" id="asc" name="asc_desc" value="DESC" />
        <label for="asc">Desc</label>
        <input
          type="text"
          value="APPEARANCES"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="red_cards"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Goals</p>
      <form action="{{ url_for('sorted_tab') }}">
        <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
        />
        <label for="asc">Asc</label>
        <input type="radio" id="asc" name="asc_desc" value="DESC" />
        <label for="asc">Desc</label>
        <input
          type="text"
          value="APPEARANCES"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="goals"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Assists</p>
      <form action="{{ url_for('sorted_tab') }}">
        <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
        />
        <label for="asc">Asc</label>
        <input type="radio" id="asc" name="asc_desc" value="DESC" />
        <label for="asc">Desc</label>
        <input
          type="text"
          value="APPEARANCES"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="assists"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Minutes Played</p>
      <form action="{{ url_for('sorted_tab') }}">
        <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
        />
        <label for="asc">Asc</label>
        <input type="radio" id="asc" name="asc_desc" value="DESC" />
        <label for="asc">Desc</label>
        <input
          type="text"
          value="APPEARANCES"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="minutes_played"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    {% if admin%}
    <th>Operations</th>
    {% endif %}
  </tr>
  {% for appearance in appearances %}
  <tr>
    <td>{{appearance.appearance_id}}</td>
    <td>{{appearance.game_id}}</td>
    <td>{{appearance.player_id}}</td>
    <td>{{appearance.player_club_id}}</td>
    <td>{{appearance.date}}</td>
    <td>{{appearance.player_pretty_name}}</td>
    <td>{{appearance.competition_id}}</td>
    <td>{{appearance.yellow_cards}}</td>
    <td>{{appearance.red_cards}}</td>
    <td>{{appearance.goals}}</td>
    <td>{{appearance.assists}}</td>
    <td>{{appearance.minutes_played}}</td>
    {% if admin %}
    <td class="operations">
      <button class="button_delete">
        <a
          href="{{ url_for('delete_appearance', appearance_id = appearance.appearance_id) }}"
          >Delete</a
        >
      </button>
      <button class="button_update">
        <a
          href="{{ url_for('update_form_appearance',  appearance_id = appearance.appearance_id, cancel = False) }}"
          >Update</a
        >
      </button>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% endif %} {% if update_form_appearance %}
<form
  action="{{ url_for('update_appearance', appearance_id = current_appearance.appearance_id) }}"
  class="update_form"
  method="GET"
>
  <div>
    <label for="appearance_id"><p>Appearance ID</p></label>
    <input
      type="text"
      name="appearance_id"
      placeholder="Enter the Appearance ID"
      value="{{current_appearance.appearance_id}}"
    />
  </div>

  <div>
    <label for="game_id"><p>Game ID</p></label>
    <input
      type="number"
      name="game_id"
      placeholder="Enter the Game ID"
      value="{{current_appearance.game_id}}"
    />
  </div>

  <div>
    <label for="player_id"><p>Player ID</p></label>
    <input
      type="number"
      name="player_id"
      placeholder="Enter the Player ID"
      value="{{current_appearance.player_id}}"
    />
  </div>

  <div>
    <label for="player_club_id"><p>Player Club ID</p></label>
    <input
      type="number"
      name="player_club_id"
      placeholder="Enter the Player Club ID"
      value="{{current_appearance.player_club_id}}"
    />
  </div>

  <div>
    <label for="date"><p>Date</p></label>
    <input
      type="text"
      name="date"
      placeholder="Enter the Date"
      value="{{current_appearance.date}}"
    />
  </div>

  <div>
    <label for="player_pretty_name"><p>Player Pretty Name</p></label>
    <input
      type="text"
      name="player_pretty_name"
      placeholder="Enter the Player Prettu Name"
      value="{{current_appearance.player_pretty_name}}"
    />
  </div>

  <div>
    <label for="competition_id"><p>Competition ID</p></label>
    <input
      type="text"
      name="competition_id"
      placeholder="Enter the Competition ID"
      value="{{current_appearance.competition_id}}"
    />
  </div>

  <div>
    <label for="yellow_cards"><p>Yellow Cards</p></label>
    <input
      type="number"
      name="yellow_cards"
      placeholder="Enter the Yellow Cards"
      value="{{current_appearance.yellow_cards}}"
    />
  </div>

  <div>
    <label for="red_cards"><p>Red Cards</p></label>
    <input
      type="number"
      name="red_cards"
      placeholder="Enter the Red Cards"
      value="{{current_appearance.red_cards}}"
    />
  </div>

  <div>
    <label for="goals"><p>Goals</p></label>
    <input
      type="number"
      name="goals"
      placeholder="Enter the Goals"
      value="{{current_appearance.goals}}"
    />
  </div>

  <div>
    <label for="assists"><p>Assists</p></label>
    <input
      type="number"
      name="assists"
      placeholder="Enter the Assists"
      value="{{current_appearance.assists}}"
    />
  </div>

  <div>
    <label for="minutes_played"><p>Minutes Played</p></label>
    <input
      type="number"
      name="minutes_played"
      placeholder="Enter the Minutes Played"
      value="{{current_appearance.minutes_played}}"
    />
  </div>

  <button type="submit">
    <p>UPDATE</p>
  </button>
</form>
<button class="button_cancel">
  <a href="{{ url_for('update_appearance', appearance_id = 'Close') }}">
    <p>CANCEL</p>
  </a>
</button>
{% endif %} {%endblock%}
