{% extends "navigation.html" %} {% block title %} CLUBS {% endblock %} {% block
content %}
<table class="club">
  {% for club in clubs %}
  <tr>
    <td>{{club.club_id}}</td>
    <td>{{club.name}}</td>
    <td>{{club.pretty_name}}</td>
    <td>{{club.domestic_competition_id}}</td>
    <td>{{club.total_market_value}}</td>
    <td>{{club.squad_size}}</td>
    <td>{{club.average_age}}</td>
    <td>{{club.foreigners_number}}</td>
    <td>{{club.foreigners_percentage}}</td>
    <td>{{club.national_team_players}}</td>
    <td>{{club.stadium_name}}</td>
    <td>{{club.stadium_seats}}</td>
    <td></td>
    <td>{{club.net_transfer_record}}</td>
    <td>{{club.coach_name}}</td>
    <td>{{club.url}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
