{% extends "navigation.html" %} {% block title %} CLUBS {% endblock %} {% block
content %} {% if not update_form_club %}
<table class="club">
  <tr>
    <th>
      <p>ID</p>
      <form action="{{ url_for('sorted_tab') }}">
        <label for="asc">Asc
          <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
          />
        </label>
        <label for="asc">Desc
          <input 
          type="radio" 
          id="asc" 
          name="asc_desc" 
          value="DESC" 
          />
        </label>
        <input
          type="text"
          value="CLUBS"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="CLUB_ID"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Name</p>
      <form action="{{ url_for('sorted_tab') }}">
        <label for="asc">Asc
          <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
          />
        </label>
        <label for="asc">Desc
          <input 
          type="radio" 
          id="asc" 
          name="asc_desc" 
          value="DESC" 
          />
        </label>
        <input
          type="text"
          value="CLUBS"
          name="sort_table"
          style="display: none"
        />
        <input type="text" value="NAME" name="sort_key" style="display: none" />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Pretty Name</p>
      <form action="{{ url_for('sorted_tab') }}">
        <label for="asc">Asc
          <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
          />
        </label>
        <label for="asc">Desc
          <input 
          type="radio" 
          id="asc" 
          name="asc_desc" 
          value="DESC" 
          />
        </label>
        <input
          type="text"
          value="CLUBS"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="PRETTY_NAME"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Domestic Competition ID</p>
      <form action="{{ url_for('sorted_tab') }}">
        <label for="asc">Asc
          <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
          />
        </label>
        <label for="asc">Desc
          <input 
          type="radio" 
          id="asc" 
          name="asc_desc" 
          value="DESC" 
          />
        </label>
        <input
          type="text"
          value="CLUBS"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="DOMESTIC_COMPETITION_ID"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Total Market Value</p>
      <form action="{{ url_for('sorted_tab') }}">
        <label for="asc">Asc
          <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
          />
        </label>
        <label for="asc">Desc
          <input 
          type="radio" 
          id="asc" 
          name="asc_desc" 
          value="DESC" 
          />
        </label>
        <input
          type="text"
          value="CLUBS"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="TOTAL_MARKET_VALUE"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Squad Size</p>
      <form action="{{ url_for('sorted_tab') }}">
        <label for="asc">Asc
          <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
          />
        </label>
        <label for="asc">Desc
          <input 
          type="radio" 
          id="asc" 
          name="asc_desc" 
          value="DESC" 
          />
        </label>
        <input
          type="text"
          value="CLUBS"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="SQUAD_SIZE"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Average Age</p>
      <form action="{{ url_for('sorted_tab') }}">
        <label for="asc">Asc
          <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
          />
        </label>
        <label for="asc">Desc
          <input 
          type="radio" 
          id="asc" 
          name="asc_desc" 
          value="DESC" 
          />
        </label>
        <input
          type="text"
          value="CLUBS"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="AVERAGE_AGE"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Number of Foreign Players</p>
      <form action="{{ url_for('sorted_tab') }}">
        <label for="asc">Asc
          <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
          />
        </label>
        <label for="asc">Desc
          <input 
          type="radio" 
          id="asc" 
          name="asc_desc" 
          value="DESC" 
          />
        </label>
        <input
          type="text"
          value="CLUBS"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="FOREIGNERS_NUMBER"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Percentage of Foreign Players</p>
      <form action="{{ url_for('sorted_tab') }}">
        <label for="asc">Asc
          <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
          />
        </label>
        <label for="asc">Desc
          <input 
          type="radio" 
          id="asc" 
          name="asc_desc" 
          value="DESC" 
          />
        </label>
        <input
          type="text"
          value="CLUBS"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="FOREIGNERS_PERCENTAGE"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Number of National Team Players</p>
      <form action="{{ url_for('sorted_tab') }}">
        <label for="asc">Asc
          <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
          />
        </label>
        <label for="asc">Desc
          <input 
          type="radio" 
          id="asc" 
          name="asc_desc" 
          value="DESC" 
          />
        </label>
        <input
          type="text"
          value="CLUBS"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="NATIONAL_TEAM_PLAYERS"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Stadium Name</p>
      <form action="{{ url_for('sorted_tab') }}">
        <label for="asc">Asc
          <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
          />
        </label>
        <label for="asc">Desc
          <input 
          type="radio" 
          id="asc" 
          name="asc_desc" 
          value="DESC" 
          />
        </label>
        <input
          type="text"
          value="CLUBS"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="STADIUM_NAME"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Stadium Seats</p>
      <form action="{{ url_for('sorted_tab') }}">
        <label for="asc">Asc
          <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
          />
        </label>
        <label for="asc">Desc
          <input 
          type="radio" 
          id="asc" 
          name="asc_desc" 
          value="DESC" 
          />
        </label>
        <input
          type="text"
          value="CLUBS"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="STADIUM_SEATS"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Net Transfer Record</p>
      <form action="{{ url_for('sorted_tab') }}">
        <label for="asc">Asc
          <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
          />
        </label>
        <label for="asc">Desc
          <input 
          type="radio" 
          id="asc" 
          name="asc_desc" 
          value="DESC" 
          />
        </label>
        <input
          type="text"
          value="CLUBS"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="NET_TRANSFER_RECORD"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    <th>
      <p>Coach Name</p>
      <form action="{{ url_for('sorted_tab') }}">
        <label for="asc">Asc
          <input
          type="radio"
          id="asc"
          name="asc_desc"
          checked="checked"
          value="ASC"
          />
        </label>
        <label for="asc">Desc
          <input 
          type="radio" 
          id="asc" 
          name="asc_desc" 
          value="DESC" 
          />
        </label>
        <input
          type="text"
          value="CLUBS"
          name="sort_table"
          style="display: none"
        />
        <input
          type="text"
          value="COACH_NAME"
          name="sort_key"
          style="display: none"
        />
        <button class="button_sort" type="submit">Sort</button>
      </form>
    </th>
    {% if admin %}
    <th>Operations</th>
    {% endif %}
  </tr>
  {% for club in clubs %}
  <tr>
    <td>{{club.club_id}}</td>
    <td>{{club.name}}</td>
    <td>{{club.pretty_name}}</td>
    <td>{{club.domestic_competition_id}}</td>
    <td>{{club.total_market_value}}</td>
    <td>{{club.squad_size}}</td>
    <td>{{club.average_age}}</td>
    <td>{{club.foreigners_number}}</td>
    <td>{{club.foreigners_percentage}}</td>
    <td>{{club.national_team_players}}</td>
    <td>{{club.stadium_name}}</td>
    <td>{{club.stadium_seats}}</td>
    <td>{{club.net_transfer_record}}</td>
    <td>{{club.coach_name}}</td>
    {% if admin %}
    <td class="operations">
      <button class="button_delete">
        <a href="{{ url_for('delete_club', club_id = club.club_id) }}"
          >Delete</a
        >
      </button>
      <button class="button_update">
        <a
          href="{{ url_for('update_form_club',  club_id = club.club_id, cancel = False) }}"
          >Update</a
        >
      </button>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endif %} {% if update_form_club %}
<form
  action="{{ url_for('update_club', club_id = current_club.club_id) }}"
  class="update_form"
  method="GET"
>
  <div>
    <label for="club_id"><p>Club ID</p></label>
    <input
      type="number"
      name="club_id"
      required
      placeholder="Enter the Club ID"
      value="{{current_club.club_id}}"
    />
  </div>

  <div>
    <label for="name"><p>Name</p></label>
    <input
      type="text"
      name="name"
      placeholder="Enter the Name"
      value="{{current_club.name}}"
    />
  </div>

  <div>
    <label for="pretty_name"><p>Pretty Name</p></label>
    <input
      type="text"
      name="pretty_name"
      placeholder="Enter the Pretty Name"
      value="{{current_club.pretty_name}}"
    />
  </div>

  <div>
    <label for="domestic_competition_id"><p>Domestic Competition ID</p></label>
    <input
      type="text"
      name="domestic_competition_id"
      placeholder="Enter the Domestic Competition ID"
      value="{{current_club.domestic_competition_id}}"
    />
  </div>

  <div>
    <label for="total_market_value"><p>Total Market Value</p></label>
    <input
      type="number"
      step="0.01"
      name="total_market_value"
      placeholder="Enter the Total Market Value"
      value="{{current_club.total_market_value}}"
    />
  </div>

  <div>
    <label for="squad_size"><p>Squad Size</p></label>
    <input
      type="number"
      name="squad_size"
      placeholder="Enter the Squad Size"
      value="{{current_club.squad_size}}"
    />
  </div>

  <div>
    <label for="average_age"><p>Average Age</p></label>
    <input
      type="number"
      step="0.1"
      name="average_age"
      placeholder="Enter the Average Age"
      value="{{current_club.average_age}}"
    />
  </div>

  <div>
    <label for="foreigners_number"><p>Number of Foreign Players</p></label>
    <input
      type="number"
      name="foreigners_number"
      placeholder="Enter the Number of Foreign Players"
      value="{{current_club.foreigners_number}}"
    />
  </div>

  <div>
    <label for="foreigners_percentage"
      ><p>Percentage of Foreign Players</p></label
    >
    <input
      type="number"
      step="0.1"
      name="foreigners_percentage"
      placeholder="Enter the Percentage of Foreign Players"
      value="{{current_club.foreigners_percentage}}"
    />
  </div>

  <div>
    <label for="national_team_players"
      ><p>Number of National Team Players</p></label
    >
    <input
      type="number"
      name="national_team_players"
      placeholder="Enter the Number of National Team Players"
      value="{{current_club.national_team_players}}"
    />
  </div>

  <div>
    <label for="stadium_name"><p>Stadium Name</p></label>
    <input
      type="text"
      name="stadium_name"
      placeholder="Enter the Stadium Name"
      value="{{current_club.stadium_name}}"
    />
  </div>

  <div>
    <label for="stadium_seats"><p>Stadium Seats</p></label>
    <input
      type="number"
      name="stadium_seats"
      placeholder="Enter the Stadium Seats"
      value="{{current_club.stadium_seats}}"
    />
  </div>

  <div>
    <label for="net_transfer_record"><p>Net Transfer Record</p></label>
    <input
      type="text"
      name="net_transfer_record"
      placeholder="Enter the Net Transfer Record"
      value="{{current_club.net_transfer_record}}"
    />
  </div>

  <div>
    <label for="coach_name"><p>Coach Name</p></label>
    <input
      type="text"
      name="coach_name"
      placeholder="Enter the Coach Name"
      value="{{current_club.coach_name}}"
    />
  </div>

  <button type="submit">
    <p>UPDATE</p>
  </button>
</form>
<button class="button_cancel">
  <a href="{{ url_for('update_club', club_id = 'Close') }}">
    <p>CANCEL</p>
  </a>
</button>
{% endif %} {% endblock %}
