{% extends "navigation.html" %}
{% block title %} COMPETITIONS {% endblock&}
{% block content %}
<table class="club">
  {% for competition in competitions %}
  <tr>
    <td>{{competition.competition_id}}</td>
    <td>{{competition.pretty_name}}</td>
    <td>{{competition.type_}}</td>
    <td>{{competition.sub_type}}</td>
    <td>{{competition.country_id}}</td>
    <td>{{competition.country_name}}</td>
    <td>{{competition.country_latitude}}</td>
    <td>{{competition.country_longitude}}</td>
    <td>{{competition.domestic_league_code}}</td>
    <td>{{competition.name}}</td>
    <td>{{competition.confederation}}</td>
    <td>{{competition.url}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}