{% extends "navigation.html" %} {% block title %}PLAYERS{% endblock%} {% block
content %} {% if not update_form_player %}

<div class="screen">
  <table class="PLAYERS">
    <tr>
      <th>Player ID</th>
      <th>Pretty Name</th>
      <th>Club Pretty Name</th>
      <th>Club ID</th>
      <th>Country of Citizenship</th>
      <th>Current Club ID</th>
      <th>Date of Birth</th>
      <th>Position</th>
      <th>Foot</th>
      <th>Height (in cm)</th>
      <th>Market Value (in gbp)</th>
      <th>Highest Market Value (in gbp)</th>
      {% if admin%}
      <th rowspan="2">Operations</th>
      {% endif %}
    </tr>
    <tr>
      <th>
        <form action="{{ url_for('sorted_tab') }}">
          <label for="asc"
            >Asc
            <input type="radio" id="asc" name="asc_desc" value="ASC" />
          </label>
          <label for="asc"
            >Desc
            <input
              type="radio"
              id="asc"
              name="asc_desc"
              value="DESC"
              required
            />
          </label>
          <input
            type="text"
            value="PLAYERS"
            name="sort_table"
            style="display: none"
          />
          <input
            type="text"
            value="player_id"
            name="sort_key"
            style="display: none"
          />
          <button class="button_sort" type="submit">Sort</button>
        </form>
      </th>
      <th>
        <form action="{{ url_for('sorted_tab') }}">
          <label for="asc"
            >Asc
            <input type="radio" id="asc" name="asc_desc" value="ASC" />
          </label>
          <label for="asc"
            >Desc
            <input
              type="radio"
              id="asc"
              name="asc_desc"
              value="DESC"
              required
            />
          </label>
          <input
            type="text"
            value="PLAYERS"
            name="sort_table"
            style="display: none"
          />
          <input
            type="text"
            value="pretty_name"
            name="sort_key"
            style="display: none"
          />
          <button class="button_sort" type="submit">Sort</button>
        </form>
      </th>
      <th>
        <form action="{{ url_for('sorted_tab') }}">
          <label for="asc"
            >Asc
            <input type="radio" id="asc" name="asc_desc" value="ASC" />
          </label>
          <label for="asc"
            >Desc
            <input
              type="radio"
              id="asc"
              name="asc_desc"
              value="DESC"
              required
            />
          </label>
          <input
            type="text"
            value="PLAYERS"
            name="sort_table"
            style="display: none"
          />
          <input
            type="text"
            value="club_pretty_name"
            name="sort_key"
            style="display: none"
          />
          <button class="button_sort" type="submit">Sort</button>
        </form>
      </th>
      <th>
        <form action="{{ url_for('sorted_tab') }}">
          <label for="asc"
            >Asc
            <input type="radio" id="asc" name="asc_desc" value="ASC" />
          </label>
          <label for="asc"
            >Desc
            <input
              type="radio"
              id="asc"
              name="asc_desc"
              value="DESC"
              required
            />
          </label>
          <input
            type="text"
            value="PLAYERS"
            name="sort_table"
            style="display: none"
          />
          <input
            type="text"
            value="club_id"
            name="sort_key"
            style="display: none"
          />
          <button class="button_sort" type="submit">Sort</button>
        </form>
      </th>
      <th>
        <form action="{{ url_for('sorted_tab') }}">
          <label for="asc"
            >Asc
            <input type="radio" id="asc" name="asc_desc" value="ASC" />
          </label>
          <label for="asc"
            >Desc
            <input
              type="radio"
              id="asc"
              name="asc_desc"
              value="DESC"
              required
            />
          </label>
          <input
            type="text"
            value="PLAYERS"
            name="sort_table"
            style="display: none"
          />
          <input
            type="text"
            value="country_of_citizenship"
            name="sort_key"
            style="display: none"
          />
          <button class="button_sort" type="submit">Sort</button>
        </form>
      </th>
      <th>
        <form action="{{ url_for('sorted_tab') }}">
          <label for="asc"
            >Asc
            <input type="radio" id="asc" name="asc_desc" value="ASC" />
          </label>
          <label for="asc"
            >Desc
            <input
              type="radio"
              id="asc"
              name="asc_desc"
              value="DESC"
              required
            />
          </label>
          <input
            type="text"
            value="PLAYERS"
            name="sort_table"
            style="display: none"
          />
          <input
            type="text"
            value="current_club_id"
            name="sort_key"
            style="display: none"
          />
          <button class="button_sort" type="submit">Sort</button>
        </form>
      </th>
      <th>
        <form action="{{ url_for('sorted_tab') }}">
          <label for="asc"
            >Asc
            <input type="radio" id="asc" name="asc_desc" value="ASC" />
          </label>
          <label for="asc"
            >Desc
            <input
              type="radio"
              id="asc"
              name="asc_desc"
              value="DESC"
              required
            />
          </label>
          <input
            type="text"
            value="PLAYERS"
            name="sort_table"
            style="display: none"
          />
          <input
            type="text"
            value="date_of_birth"
            name="sort_key"
            style="display: none"
          />
          <button class="button_sort" type="submit">Sort</button>
        </form>
      </th>
      <th>
        <form action="{{ url_for('sorted_tab') }}">
          <label for="asc"
            >Asc
            <input type="radio" id="asc" name="asc_desc" value="ASC" />
          </label>
          <label for="asc"
            >Desc
            <input
              type="radio"
              id="asc"
              name="asc_desc"
              value="DESC"
              required
            />
          </label>
          <input
            type="text"
            value="PLAYERS"
            name="sort_table"
            style="display: none"
          />
          <input
            type="text"
            value="position"
            name="sort_key"
            style="display: none"
          />
          <button class="button_sort" type="submit">Sort</button>
        </form>
      </th>
      <th>
        <form action="{{ url_for('sorted_tab') }}">
          <label for="asc"
            >Asc
            <input type="radio" id="asc" name="asc_desc" value="ASC" />
          </label>
          <label for="asc"
            >Desc
            <input
              type="radio"
              id="asc"
              name="asc_desc"
              value="DESC"
              required
            />
          </label>
          <input
            type="text"
            value="PLAYERS"
            name="sort_table"
            style="display: none"
          />
          <input
            type="text"
            value="foot"
            name="sort_key"
            style="display: none"
          />
          <button class="button_sort" type="submit">Sort</button>
        </form>
      </th>
      <th>
        <form action="{{ url_for('sorted_tab') }}">
          <label for="asc"
            >Asc
            <input type="radio" id="asc" name="asc_desc" value="ASC" />
          </label>
          <label for="asc"
            >Desc
            <input
              type="radio"
              id="asc"
              name="asc_desc"
              value="DESC"
              required
            />
          </label>
          <input
            type="text"
            value="PLAYERS"
            name="sort_table"
            style="display: none"
          />
          <input
            type="text"
            value="height_in_cm"
            name="sort_key"
            style="display: none"
          />
          <button class="button_sort" type="submit">Sort</button>
        </form>
      </th>
      <th>
        <form action="{{ url_for('sorted_tab') }}">
          <label for="asc"
            >Asc
            <input type="radio" id="asc" name="asc_desc" value="ASC" />
          </label>
          <label for="asc"
            >Desc
            <input
              type="radio"
              id="asc"
              name="asc_desc"
              value="DESC"
              required
            />
          </label>
          <input
            type="text"
            value="PLAYERS"
            name="sort_table"
            style="display: none"
          />
          <input
            type="text"
            value="market_value_in_gbp"
            name="sort_key"
            style="display: none"
          />
          <button class="button_sort" type="submit">Sort</button>
        </form>
      </th>
      <th>
        <form action="{{ url_for('sorted_tab') }}">
          <label for="asc"
            >Asc
            <input type="radio" id="asc" name="asc_desc" value="ASC" />
          </label>
          <label for="asc"
            >Desc
            <input
              type="radio"
              id="asc"
              name="asc_desc"
              value="DESC"
              required
            />
          </label>
          <input
            type="text"
            value="PLAYERS"
            name="sort_table"
            style="display: none"
          />
          <input
            type="text"
            value="highest_market_value_in_gbp"
            name="sort_key"
            style="display: none"
          />
          <button class="button_sort" type="submit">Sort</button>
        </form>
      </th>
      
    </tr>
    {% for player in players[from_number:to_number] %}
    <tr>
      <td>{{player.player_id}}</td>
      <td>{{player.pretty_name}}</td>
      <td>{{player.club_pretty_name}}</td>
      <td>{{player.club_id}}</td>
      <td>{{player.country_of_citizenship}}</td>
      <td>{{player.current_club_id}}</td>
      <td>{{player.date_of_birth}}</td>
      <td>{{player.position}}</td>
      <td>{{player.foot}}</td>
      <td>{{player.height_in_cm}}</td>
      <td>{{player.market_value_in_gbp}}</td>
      <td>{{player.highest_market_value_in_gbp}}</td>
      {% if admin %}
      <td class="operations">
        <button class="button_delete">
          <a href="{{ url_for('delete_player', player_id = player.player_id) }}"
            >Delete</a
          >
        </button>
        <button class="button_update">
          <a
            href="{{ url_for('update_form_player',  player_id = player.player_id , cancel = False) }}"
            >Update</a
          >
        </button>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>
<div class="change_table_number">
  <button>
    <a href="{{url_for('decrease_number_player', page_number = page_number)}}"
      >Previous</a
    >
  </button>
  <h2>{{page_number}}</h2>
  <button>
    <a href="{{url_for('increase_number_player', page_number = page_number)}}"
      >Next</a
    >
  </button>
</div>
{% endif %} {% if update_form_player %}
<form
  action="{{ url_for('update_player', player_id = current_player.player_id) }}"
  class="update_form"
  method="GET"
>
  <div>
    <label for="player_id"><p>Player ID</p></label>
    <input
      type="number"
      name="player_id"
      required
      placeholder="Enter the Player ID"
      value="{{current_player.player_id}}"
    />
  </div>

  <div>
    <label for="pretty_name"><p>Pretty Name</p></label>
    <input
      type="text"
      name="pretty_name"
      placeholder="Enter the Pretty Name"
      value="{{current_player.pretty_name}}"
    />
  </div>

  <div>
    <label for="club_pretty_name"><p>Club Pretty Name</p></label>
    <input
      type="text"
      name="club_pretty_name"
      placeholder="Enter the Club Pretty Name"
      value="{{current_player.club_pretty_name}}"
    />
  </div>

  <div>
    <label for="club_id"><p>Club ID</p></label>
    <input
      type="number"
      name="club_id"
      placeholder="Enter the Club ID"
      value="{{current_player.club_id}}"
    />
  </div>

  <div>
    <label for="country_of_citizenship"><p>Country of Citizenship</p></label>
    <input
      type="text"
      name="country_of_citizenship"
      placeholder="Enter the Country of Citizenship"
      value="{{current_player.country_of_citizenship}}"
    />
  </div>

  <div>
    <label for="current_club_id"><p>Current Club ID</p></label>
    <input
      type="number"
      name="current_club_id"
      placeholder="Enter the Current Club ID"
      value="{{current_player.current_club_id}}"
    />
  </div>

  <div>
    <label for="date_of_birth"><p>Date of Birth</p></label>
    <input
      type="date"
      name="date_of_birth"
      placeholder="Enter the Date of Birth"
      value="{{current_player.date_of_birth}}"
    />
  </div>

  <div>
    <label for="position"><p>Position</p></label>
    <input
      type="text"
      name="position"
      placeholder="Enter the Position"
      value="{{current_player.position}}"
    />
  </div>

  <div>
    <label for="foot"><p>Foot</p></label>
    <input
      type="text"
      name="foot"
      placeholder="Enter the Foot"
      value="{{current_player.foot}}"
    />
  </div>

  <div>
    <label for="height_in_cm"><p>Height (in cm)</p></label>
    <input
      type="number"
      name="height_in_cm"
      placeholder="Enter the Height (in cm)"
      value="{{current_player.height_in_cm}}"
    />
  </div>

  <div>
    <label for="market_value_in_gbp"><p>Market Value (in gbp)</p></label>
    <input
      type="number"
      step="0.01"
      name="market_value_in_gbp"
      placeholder="Enter the Market Value (in gbp)"
      value="{{current_player.market_value_in_gbp}}"
    />
  </div>

  <div>
    <label for="highest_market_value_in_gbp"
      ><p>Highest Market Value (in gbp)</p></label
    >
    <input
      type="number"
      step="0.01"
      name="highest_market_value_in_gbp"
      placeholder="Enter the Highest Market Value (in gbp)"
      value="{{current_player.highest_market_value_in_gbp}}"
    />
  </div>

  <button type="submit">
    <p>UPDATE</p>
  </button>
</form>
<button class="button_cancel">
  <a href="{{ url_for('update_player', player_id = 'Close') }}">
    <p>CANCEL</p>
  </a>
</button>
{% endif %} {%endblock%}
